.container {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.title {
  letter-spacing: -0.025em;
  font-weight: 500;
  color: var(--text-black);
  font-size: 3rem;
  line-height: 1;
  margin-top: 15rem;
}

.title1 {
  color: var(--text-brown);
  font-size: 7rem;
  padding-left: 0.5rem;
}

.title2 {
  display: block;
  color: var(--text-green);
  font-size: 7rem;
  padding-left: 0.5rem;
}

.subtitle {
  margin-top: 0.75rem;
  font-size: 1.7rem;
  line-height: 2rem;
  color: var(--text-gray);
  margin-left: 1rem;
  font-weight: 500;
}

.buttonWrapper {
  margin-top: 13rem;
  margin-left: 0rem;
}

.button {
  background-color: var(--text-green);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.924);

  outline: 0;
  border: 0;
  padding: 3rem 5rem 3rem 5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 15px;

  width: 26rem;

  transition: transform 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--text-green-dark);
  color: rgb(187, 187, 187);

  transform: scale(1.03);
}

/** Small screens **/
@media (max-width: 767px) {
  .title {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .title1,
  .title2 {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .button {
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
/** md breakpoint **/
@media (min-width: 768px) {
  .title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .subTitle {
    margin-top: 1.25rem;
  }

  .button {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.37rem;
    line-height: 1.75rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .container {
    text-align: left;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1;
  }

  .title2 {
    padding-left: 0.5rem;
  }

  .subTitle {
    margin-left: 0px;
    margin-right: 0px;
  }

  .buttonWrapper {
    justify-content: flex-start;
  }
}

/** xl breakpoint **/
@media (min-width: 1280px) {
  .title2 {
    display: inline;
  }
}
